.SelectQuiz{
	float: left;
	border: 3px solid green;
	width: 80%;
	display:block;
}
.SelectQuiz h1{
	text-align: center;
}
.container{
	width: 100%;
	text-align:center;
	border: 3px solid green;
	display: block;
}

