.nav-quiz-wrapper{
	margin-top:0;
	margin-right:19%;
	margin-left:19%;
	
}
.navMenu{
	font-family: 'Enriqueta', serif;
	font-size: 1.5em;
	text-shadow: 1.5px 1.5px #111b24;
	
}
.btn{
	background: #081a32;
}
.navMenu:hover{
	
}