<div class="login-box-wrapper"> 
            <div class="reimbursement-box">
                <div id="reimbursement-input">
                    <h2 class="welcome"> Welcome! Please register your information!</h2>

                    <form id="ReimbursementForm" action="Proj1Controller" method="get">
                       <div class="form-group">
                        <label for="Grade" class="text-uppercase">Username</label>
                        <input style="width: 100%;" type="text" class="form-control" placeholder="" name="Username">
                    </div>
                    <div class="form-group">
                        <label for="Grade" class="text-uppercase">Password</label>
                        <input style="width: 100%;" type="text" class="form-control" placeholder="" name="Password">
                    </div>
                       <div class="form-group">
                            <label for="Grade" class="text-uppercase">Firstname</label>
                            <input style="width: 100%;" type="text" class="form-control" placeholder="" name="Firstname">
                        </div>
                        <div class="form-group">
                            <label for="Grade" class="text-uppercase">Lastname</label>
                            <input style="width: 100%;" type="text" class="form-control" placeholder="" name="Lastname">
                        </div>
                        <div class="form-group">
                            <label for="Grade" class="text-uppercase">Email</label>
                            <input style="width: 100%;" type="email" class="form-control" placeholder="" name="Email">
                        </div>  
                        <div class="form-check">
                            <button type="submit" class="sub">Submit</button>
                            <input  type="reset" class="reset">
                        </div>
                    </form>
                </div>
                
            </div>
        </div>