<div class="login-box-wrapper"> 
            <div class="login-box">
                <div id="login-input">
                    <h2 class="welcome"> Welcome to BitQuiz! Please login!</h2>
                   <!-- <div id="invisible1"> Invalid username or password! Please try again! </div> -->
                    <form method='post' onsubmit="modify()">

                        <div class="form-group">
                              <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                           <input type="text" class="form-control" placeholder="" required>
                       </div>
                       <div class="form-group">
                            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                            <input type="password" class="form-control" placeholder="" required>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            <small>Remember Me</small>
                            </label>
                            <button type="submit" class="btn btn-login float-right">Submit</button>

                        </div>
                        <div class="register">
                            Don't have an account? <span class="signup">
                                <a id="signuplink" href="#">Sign up</a></span>
                        </div>
                    </form>
                    
                </div>
                
                <div id="slider-container">
                    <div class="slider-wrapper">
                        <div class="slideshow">
                            
                            <div class="slide one">
                                <img class="classimage1" src="https://i.imgur.com/4PHlDI7.jpg" />
                            </div>
                            <div class="slide two">
                                <img src="https://i.imgur.com/WgJCc2i.jpg" />
                            </div>
                            <div class="slide three">        
                                <img class="slideimage" src="https://i.imgur.com/4PHlDI7.jpg" />
                            </div>

                        </div>
                    </div>
                  
                </div>
                
            </div>
        </div>